{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('css/main.css') }}"></link>
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class='buttons'>
        <button class='option rock' onclick='RPSLS.chooseOption(0)'>Rock</button>
        <button class='option paper' onclick='RPSLS.chooseOption(1)'>Paper</button>
        <button class='option scissors' onclick='RPSLS.chooseOption(2)'>Scissors</button>
        <button class='option spock' onclick='RPSLS.chooseOption(3)'>Spock</button>
        <button class='option lizard' onclick='RPSLS.chooseOption(4)'>Lizard</button>
    </div>

    <div class='choices'>
        <label>Player: </label>
        <span class='player choice hide'></span>
    </div>
    <div class='choices'>
        <label>Computer: </label>
        <span class='computer choice hide'></span>
    </div>

    <div class='stats'>
        <hr>
        <button class='clear' onclick='RPSLS.clearStats()'>Clear Stats</button>
        <p>Computer wins: <span class='c_wins'>{{winningStats[0].total}}</span></p>
        <p>Player wins: <span class='p_wins'>{{winningStats[1].total}}</span></p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Choice</th>
                <th>Computer</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rock</td>
                <td class='c-rock'>{{choiceStats[0][0].total}}</td>
                <td class='p-rock'>{{choiceStats[1][0].total}}</td>
            </tr>
            <tr>
                <td>Paper</td>
                <td class='c-paper'>{{choiceStats[0][1].total}}</td>
                <td class='p-paper'>{{choiceStats[1][1].total}}</td>
            </tr>
            <tr>
                <td>Scissors</td>
                <td class='c-scissors'>{{choiceStats[0][2].total}}</td>
                <td class='p-scissors'>{{choiceStats[1][2].total}}</td>
            </tr>
            <tr>
                <td>Lizard</td>
                <td class='c-lizard'>{{choiceStats[0][3].total}}</td>
                <td class='p-lizard'>{{choiceStats[1][3].total}}</td>
            </tr>
            <tr>
                <td>Spock</td>
                <td class='c-spock'>{{choiceStats[0][4].total}}</td>
                <td class='p-spock'>{{choiceStats[1][4].total}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
{% endblock %}
