body {
	color: #8a8a8a;
	padding: 40px;
	min-width: 800px;
}
.hide {
	display: none !important;
}
h1 {
	text-align: center;
}
button {
	font-size: 16px;
	cursor: pointer;
	margin-right: 4%;
	border-radius: 5px;
	width: 16%;
	padding: 5px;
    border: solid 1px;
    background: white;
    color: #4d4d4d;
}
button:last-child {
	margin-right: 0;
}
button:hover, button.chosen {
	font-weight: bold;
}
button.clear {
    font-size: 14px;
    border: none;
    background: #d4d4d4;
    width: 100px;
}
.buttons {
	margin: 20px auto;
	width: 60%;
}
.choice {
    padding: 5px;
    background: #d4d4d4;
    border-radius: 5px;
    color: black;
    border: solid 1px #d4d4d4;
    display: inline;
}
.choice.winner {
	background: #afa;
}

td {
	width: 100px;
}
th {
	background: #d4d4d4;
}
.choices {
	display: inline-block;
	margin: 30px 30px 30px 0;
}
